<div class="menubar">
  <div class="menubar__content">
    <div class="pt-tabs">
      <ul class="pt-tab-list" role="tablist">
        <li class="pt-tab" role="tab" aria-selected="{% if page.key != 'scoreboard' %}true{% else %}false{% endif %}">
            <a href="/">Beranda</a>
        </li>
        <li class="pt-tab" role="tab" aria-selected="{% if page.key == 'scoreboard' %}true{% else %}false{% endif %}">
          <a href="/hasil.html">Hasil</a>
        </li>

      </ul>
    </div>
  </div>
</div>
