---
---

h1 {
}

.logos {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.logo {
    height: 70px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.logo.horizontal {
    height: 38px;
}

.col-rank {
    width: 30px;
}

.col-name {
}

.col-school {
    width: 320px;
}

.col-province {
    width: 180px;
}

.col-score {
    width: 55px;
}

.medal-gold {
    background-color: #ffff00;
}

.medal-silver {
    background-color: #b7b7b7;
}

.medal-bronze {
    background-color: #e69138;
}
